/* Media Queries */

/* Small Devices */
@media screen and (max-width: 768px) {

	header {

		ul {
			@include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.1));

			&.mobile-nav {
				width: 100%;
				display: block;
				z-index: 2;
				position: fixed;
				top: 55px;
				background: rgba(238, 238, 238, 1);
				display: none;

				li {
					width: 100%;
					border-top: 1px solid #d7d7d7;
					@include center;

					a,
					a:visited {
						width: 100%;
						display: block;
						font-size: 2rem;
					}
				}
			}
		}

		.mobile-nav-trigger {
			display: block;
		}
	}

	.show-nav {
		display: block !important;
	}
	
	.container {

		.column-3,
		.column-9 {
			width: 100%;
			@include center;
		}

		.row {
			margin-bottom: 0;
			display: inline-block;

			ul {

				&.grumpy {
					margin-bottom: 30px;

					li {
					  margin: 5px 0;
						clear: both;

					}
				}
			}
		}
	}

	footer {
		padding: 0 0 20px 0;

		h3 {
			margin-bottom: 5px;
		}

		.container {

			.column-3 {
				margin: 0 0 10px 0;
				@include center;
			}
		}
	}

	h2 {
		margin-top: 0;
		line-height: 4rem;
	}
}


/* Medium Devices*/
@media screen and (max-width: 992px) {

	header {
		height: 65px;

		.logo {
			padding-left: 10px;
			line-height: 65px;
		}
		
		&.fixed {
			
			.container {
				width: 100%;
			}
		}

		ul {

			&.nav {
				margin-top: 10px;

				li {
					padding: 12px 20px;
				}
			}
		}
	}

	.container {

		.row {
			width: 100%;
			box-sizing: border-box;
			padding: 0 20px;
		}
	}

	.banner {
		max-height: 350px;
		margin: 0;

		.inner {

			h1 {
				margin: 90px 0 0 2%;
				font-size: 3.8rem;
				text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
			}
		}
	}
}